  
@model IEnumerable<Bookstore.Models.Book>

<h4>Книги кои ги напишал @ViewData["AuthorsName"] </h4>
<br />
@foreach (var item in Model)
{
        <div style="text-align: center;" >
        
                <img src="~/pictures/@item.Picture"
                     height="240" width="150"
                     asp-append-version="true"/>   
            <p> <a  asp-controller="Book" asp-action="Details" asp-route-id="@item.BooksID"> @Html.DisplayFor(modelItem => item.Title) </a><br/>
           
               @Html.DisplayFor(modelItem => item.Price) денари</p>
       </div>

}