@{
    ViewData["Title"] = "Andromeda";
}

<div class="text-center">
    <h2>Добредојдовте во Андромеда</h2>
    <br />
    <img src="https://i.pinimg.com/originals/67/18/22/671822c2f63dd5f65d8fd15c9710420b.jpg" alt="Books" width="1100" height="300" />

    <p>
        <div style="font-weight: bold;">“Books are a uniquely portable magic.” </div>
        ― Stephen King, On Writing: A Memoir of the Craft
</div>
<br />
<div style="text-align: left;">
    <span style="float:right;">
        Работно време <br>
        Понеделник - Петок: 08:00 - 22:00 <br>
        Сабота - Недела: 10:00 - 20:00
    </span>
    Контакт <br />
    Email: andromeda@gmail.com <br />
    Телефон: 223 305 <br />
    Локација: ул.Тоше Проески бр.17, Крушево <br />
</div>
</p>
